[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
whitenoise = "*"
gunicorn = "*"
psycopg2-binary = "==2.8.6"
dj-database-url = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"
