{% extends "base.html" %}
{% load static %}

{% block title %} Password Reset {% endblock title%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            {% if validlink %}
                <div class="row">
                    <div class="col-6 mt-5 mx-auto">
                        {% if form.errors %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                {% for key, value in form.erros.items %}
                                <p class="mb-0">{{ value }}</p>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <h1>Reset Your Password</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3 form-group">
                        <label for="new_password1" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="new_password1" name="new_password1" placeholder="Enter new password" required>
                    </div>
                    <div class="mb-3 form-group">
                        <label for="new_password2" class="form-label">New Password Confirmation</label>
                        <input type="password" class="form-control" id="new_password2" name="new_password2" placeholder="Confirm new password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            {% else %}
                <div class="alert alert-warning">
                    The password reset link was invalid, possibly because it has already been used.
                    Please request a new password reset.
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}