{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6 mt-5 mx-auto">
                {% if form.errors %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {% for key, value in form.erros.items %}
                        <p class="mb-0">{{ value }}</p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-6 mt-3 mx-auto">
                <h1>Reset Password</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3 form-group">
                        <label for="email" class="form-label">Email<label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="example@mail.com" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mt-3 mx-auto d-flex flex-row">
                <a href="{% url 'register' %}">Create A New Account</a><br><br>
                <a href="{% url 'login' %}">Back To Login</a><br>
            </div>
        </div>
    </div>
{% endblock %}