{% extends "members/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'members/css/members.css' %}">
{% endblock %}

{% block page_header %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <!-- Nav Brand -->
            <a class="navbar-brand" href="#"><img src="{% static 'members/img/nav-logo.svg'%}" alt=""></a>
            <form action="" class="ms-lg-3">
                <div class="form-group">
                    <input type="text" name="eventsearch" id="eventsearch" placeholder="Search for friends" class="form-control">
                </div>
            </form>
            <!-- Nav Burger Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--NavBar Main Nav-->
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link ms-lg-2" href="{% url 'about' %}">About Us</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url "home" %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About Us</a>
                    </li>
                    {% endif %}
                </ul>
                <div class="d-flex ms-lg-2">
                    {% if user.is_authenticated %}
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'members/img/user.svg' %}" alt="" width="20" height="20" class="btn-icon me-1">{{ user.email }}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                          <li><a class="dropdown-item" href="#">Friends</a></li>
                          <li><a class="dropdown-item" href="{% url 'profile_edit' %}">Edit Profile</a></li>
                          <li><a class="dropdown-item" href="{% url 'logout'%}">Logout</a></li>
                        </ul>
                      </div>
                    {% else %}
                    <a class="login-btn btn btn-secondary ms-3" href="{% url 'login' %}">Login</a>
                    <a class="register-btn btn btn-dark ms-3" href="{% url 'register' %}"><img src="../../static/home/images/pencil-square.svg"
                            class="btn-icon" alt="Icon of a pencil in a square" width="20" height="20">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>
{% endblock %}


{% block content %}
<div class="container profile-container">
    <div class="row">
        <div class="col-12 col-lg-4 mt-5 border-lg-end">
            <h1 class="d-block mb-4">Profile Details</h1>
            <p class="text-secondary fs-5">Username: <br><span class="fs-6 text-dark fw-bold ms-1">{{ user }}</span></p>
            <p class="text-secondary fs-5">Email: <br><span class="fs-6 text-dark fw-bold ms-1">{{ user.email }}</span></p>
            <p class="text-secondary fs-5">Name: <br><span class="fs-6 text-dark fw-bold ms-1">{{ user.first_name }} {{ user.last_name }}</span></p>
            <a href="{% url 'profile_edit'%}" class="btn btn-primary fw-bold">Edit Profile</a>
            <a href="{% url 'profile_edit'%}" class="btn btn-primary fw-bold">Friends: 'number'</a>
        </div>
        <div class="col-12 col-lg-8">
            <div class="row">
                <div class="col-12 mt-5 ms-lg-3">
                    <h2 class="mb-3">Events Board</h2>
                </div>
                <div class="col-12 col-lg-6 mb-3 me-auto">
                    <form action="" class="ms-lg-3">
                        <div class="form-group">
                            <label for="eventsearch">Search for Event</label>
                            <input type="text" name="eventsearch" id="eventsearch"class="form-control">
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12 border rounded py-3 mx-lg-4 ">
                    <p class="fw-bold">Event Title</p>
                    <p class="small">Event Descrption</p>
                    <p class="small">Event Location</p>
                    <div class="d-inline">
                        <p class="d-inline-block">Join this event</p>
                        <a href="" class="btn btn-success fw-bold">Yes</a>
                        <a href="" class="btn btn-primary fw-bold">View Event</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Footer starts here -->
<footer class="container-fluid mt-auto">
    <div class="footer-container row">
        <div class="footer-col-1 col-lg-6">
            <div class="footer-logo-container row">
                <div class="col">
                    <img src="../../static/home/images/fika-logo-light.svg" class="register-icon"
                        alt="Fika logo in white" width="74" height="37">
                </div>
                <div class="footer-btn-container row">
                    <div class="col">
                        <button class="footer-btn btn btn-light"><img src="../../static/home/images/envelope.svg"
                                class="btn-icon" alt="Icon of an envelope" width="20" height="20">Get in touch</button>
                    </div>
                </div>
                <div class="social-media-container row">
                    <div class="col">
                        <a href="https://www.instagram.com" target="_blank"><img
                                src="../../static/home/images/instagram.svg" class="social-icon"
                                alt="Instagram Icon Link" width="20" height="20"></a>
                        <a href="https://www.linkedin.com" target="_blank"> <img
                                src="../../static/home/images/linkedin.svg" class="social-icon" alt="LinkedIn Icon Link"
                                width="20" height="20"></a>
                        <a href="https://www.facebook.com" target="_blank"><img
                                src="../../static/home/images/facebook.svg" class="social-icon" alt="Facebook Icon Link"
                                width="20" height="20"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="row">
                <div class="col">
                    <h3 class="footer-heading">Services</h3>
                </div>
                <div class="row">
                    <div class="col">
                        <ul class="footer-links">
                            <li>
                                <a href="#">Register</a>
                            </li>
                            <li>
                                <a href="#">Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="row">
                <div class="col">
                    <h3 class="footer-heading">Resources</h3>
                </div>
                <div class="row">
                    <div class="col">
                        <ul class="footer-links">
                            <li>
                                <a href="#">About</a>
                            </li>
                            <li>
                                <a href="#">Blog</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p> &copy; 2022 Fika Hackathon Team. All rights reserved.</p>
        </div>
    </div>
</footer>
{% endblock %}

{% block footer %}

{% endblock %}